*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.padding-0{
padding: 0% !important;
}



.pr-2{
    padding-right: 15px !important;
}
.p-l-2{
    padding-left: 10px !important;
}

.m-l{
    margin-left: 25px !important;
}

.sidebar{
    width:300px !important;
    background-color: #101c42 !important;
    transition: all 0.5s !important;
    color: white !important;
}

.main{
    height: 100vh !important;
}

.hideside{
    width:50px !important;
}

.li{
    list-style: none !important;
}

.color-g{
    color: #858fb4 !important;
}

.icon{
    width: 15% !important;
}
.icon2{
    width: 28% !important;
}
.icon3{
    width: 8% !important;
}

.content{
    width: 58% !important;
}

/*---------------background-color------------------ */

.bg-1{
    background-color: #845adf !important;
}
.bg-2{
    background-color:#23b7e5 !important;
}
.bg-3{
    background-color:#f6b849 !important;
}
.bg-4{
    background-color:#2cbc94 !important;
}
.bg-5{
    background-color:#e891bc !important;
}
.bg-6{
    background-color: #49b7f6 !important;
}
.bg-back{
    background-color: #f0f1f6 !important;
}

.fonts{
    font-size: 13px !important;
}

@media (max-width:998px)
{
    .w-sm-4{
        overflow: hidden !important;
        width: 0px !important;
    }
    .hideside{
        width: 300px;
    }
    .block{
        display: none;
    }
}
      
